apex==0.1
autogluon==0.5.2
fast-bert==2.0.3
faiss==1.7.2
gensim==4.0.0
h5py==3.1.0
huggingface-hub==0.4.0
nltk==3.7
pandas==1.4.3
torchbiggraph==1.0.1
scikit-learn==1.0.2
scipy==1.6.3
sentence-transformers==1.0.4
sklearn==0.0
tensorboardX==2.4.1
numpy==1.22.4
regex==2019.12.20
sentencepiece==0.1.86
spacy==3.1
torch==1.10.2
transformers==4.9.2
tqdm==4.41.0
jsonlines==1.2.0
nltk==3.5
pandarallel==1.6.1
pytorch-lamb=1.0.0
pytorch-lightning=1.6.4
torchtext==0.11.2
torchvision==0.11.3
seaborn==0.11.2
